
* {
  box-sizing: border-box;
}
.row{
	width: 100%;
}
h1{
	text-align: center;
}
section{
  border: 1px solid black;
  background-color: gray;
  width: 100%;
  margin-right: 10px;
  margin-left: 2%;
  margin-top: 2%;
  padding: 15px;
  color: solid black;
}

@media(min-width: 992px){
#p1{
  width: 30%;
  float: left;
}
#p2{
  width: 30%;
  float: left;
}
#p3{
  width: 30%;
  float: left;
}
}

@media(min-width: 768px) and (max-width: 991px){
#p1{
  width: 45%;
  float: left;
}
#p2{
  width: 45%;
  float: left;
}
#p3{
  width: 92.5%;
  float: left;
}
}

@media(max-width: 767px){
#p1{
  width: 95%;
  float: left;
}
#p2{
  width: 95%;
  float: left;
}
#p3{
  width: 95%;
  float: left;
}
}

.title{
text-align: right;
  clear: both;
  margin-bottom: 5px;
}
.title #title1{
	padding: 2px;
    border:  solid black 1px; 
    background-color: #ff80ff;

}
.title #title2{

	padding: 2px;
    border:  solid black 1px; 
    background-color: #ffd24d;
}
.title #title3{
	padding: 2px;
    border:  solid black 1px; 
    background-color: #ff1a1a;
}

